/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}


body {
   background: transparent;
}
div > * {
  color:white;
  font-weight: 700;
  font-size: 20px;;
}
.circle {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  top: -55px;
  position: relative;
  border: 4px solid white;
  border-radius: 50%;
  z-index: -1;
}

.circle .face {
  width: 100%;
  height: 100%;
}

.circle .face:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
  background: white;
  border-radius: 6px;
  content: "";
  display: block;
}

.circle .face .hour, .circle .face .minute, .circle .face .second, .circle .face .millisecond {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 4px;
}

.circle .face .minute, .circle .face .second {
  transform-origin: 50% 100%;
}


.circle .face .hour {
  margin: -2px 0 -2px -25%;
  padding: 4px 0 1px 25%;
  transform-origin: 101.5% 50%;
}

.circle .face .millisecond {
  margin: -0.5px 0 0.5px -15%;
  padding: 0.5px 0 0.5px 15%;
  transform-origin: 50%;
  background: white ;

}
.circle .face .minute {
  margin: -40% -2px 0;
  padding: 40% 2px 0;
}

.circle .face .second {
  margin: -40% -1px 0 0;
  padding: 40% 1px 0;
}
.second {
  margin: -42% -1px 0 0!important;
  padding: 42% 1px 0!important;
}
.minute {
  margin: -40% -1px 0!important;
  padding: 40% 2px 0!important;
}

.circle{
  border: 4px solid white;
}
/* .circle .face .millisecond {
  margin: -40% -1px 0 0;
  padding: 40% 1px 0;
} */
.millisecond {
  /* width:5px!important; */
  margin: -10% -1px 0 0!important;
  padding: 10% 1px 0 0!important;
  transform-origin: 1% calc(100% + 1px)!important;
  /* z-index: 3; */
  background-color:rgb(94, 250, 255)!important;
  /* background-color:rgb(9, 211, 172)!important; */
  

}
.circle{
  min-height: 140px;
  
}
form > div{
  display: inline-block;
}
.container {
   margin:0px;
   padding:0px;
}
.timerInput{
   background: rgb(255 255 255 / 4%);
   border: none;
   outline: none;
   color: white;
   direction: rtl;
   font-size: 20px;
   max-width: 65px;
   text-align: center;
   text-align: right;
   line-height: 0;
   /* vertical-align: -18px; */
   /* font-family: 'Six Caps', sans-serif; */
   font-family: monospace;
  /* vertical-align: -18px; */
  /* font-family: 'Six Caps', sans-serif; */
  /* font-family: 'Tulpen One', cursive; */

}
.timerInputSpan{
  font-size: 20px;
  color:white;
  
}
.timerInput:active {
  outline: none;
  border: none;
  }
  .colomn{
    vertical-align: baseline;
    margin-left: 5px;
    font-size: 47px;
    padding-top: -10px;
    line-height: 52px;  
  font-family: 'Six Caps', sans-serif;

  }

    input[type=number]::-webkit-inner-spin-button {
      /* -webkit-appearance: none; */
      /* width:0px; */
      color: green;
      margin-right:-35px;
    }
    .btn{
      color:white;
      padding:8px 11px 8px 12px!important;
      border:1px solid white!important;
      height: 41px;
      width: 40px;
      /* width:30%;  */
      margin: 3%;
      margin-top:10px;
      border-radius: 300px;
      position: relative;
      top: 100px;
    }
